/* CUSTOM STYLES*/

body {
  background-color: #095A42; /*02231a*/
}

.logo-header {
  height: 6rem;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  margin-bottom: 20px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  /* clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%); */
}

.hero-design {
  background-color: rgba(239,127,26,0.3);
  clip-path: polygon(3% 5%, 100% 0%, 100% 100%, 3% 95%);
}

.hero-design2 {
  background-color: rgba(239,127,26,0.3);
  clip-path: polygon(0% 0, 97% 5%, 97% 95%, 0% 100%);
}

.hero-design3 {
  background-color: rgba(239,127,26,0.3);
  clip-path: polygon(3% 15%, 100% 8%, 100% 95%, 3% 85%);
}

.logo-black {
  filter: invert(100%);;
}




html {
  overflow-x: hidden;
}

.btn-custom {
  background-color: #ef7f1a;
  color: #f2f2f2;
}

.svg-container svg {
  fill: #ef7f1a;
}

.custom-bg {
  background-color: #ef7f1a;
}

.custom-bg2 {
  background-color: #095A42; /*02231a*/
}

.custom-bg3 {
  background-color: #1157a3;
}

.text-custom {
  color: #ef7f1a;
}

.text-custom2 {
  color: #1157a3;
}

.text-custom3 {
  color: #095A42;
}

#extra-service img {
  filter: invert(100%);
}

.extra-bg {
    background-image: url(../img/extra-bg3.jpg);
    
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%); */
}

.overlay-footer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%); */
}

.footer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.overlay-light {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .overlay-hero {
    width: 100%;
    height: 100%;
    background-color: rgba(17, 87, 163, 0.3);
    display: flex;
    align-items: center;
  }



.img-container {
    text-align: center;
    padding: 1rem;
}

.img-container img {
    height: 4rem;
    
}



.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-km2t {
  border-color: #ffffff;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
.tg .tg-zv4m {
  border-color: #ffffff;
  text-align: left;
  vertical-align: top;
}
.tg .tg-8jgo {
  border-color: #ffffff;
  text-align: center;
  vertical-align: top;
}
.tg .tg-aw21 {
  border-color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
