.has-border {
  border: 1px solid black;
}

#hero {
  height: 90vh;
}

#hero::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./img/hero-bg3.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#hero:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: -1;
}

.custom-blue {
  color: #1257a4;
}

.custom-dark-blue {
  color: rgba(0, 69, 164, 255);
}

#hero img {
  float: right;
}

.custom-btn {
    color: white;
    background-color: #1257a4;
}

.custom-btn:hover {
    background-color: #ef7f1b;
}

#advantages .advantage-img {
    text-align: center;
}
#advantages .advantage-img svg {
    height: 5vh;
    fill: #1257a4;
}

#advantages {
    color: #1257a4;
}

footer {
    background-color: #1257a4;
}

.logo-footer {
    background-color: white;
    text-align: center;
}

.logo-footer img {
    height: 10vh;
}

#hero-features li {
  list-style-type: none;
  float: left;
}

