.has-border {
  border: 1px solid black;
}

main {
  height: 90vh;
}

#hero::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./img/hero-bg3.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#hero:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: -1;
}

.custom-blue {
  color: #1257a4;
}

.custom-dark-blue {
  color: rgba(0, 69, 164, 255);
}

#hero img {
  float: right;
}

.custom-btn {
  color: white;
  background-color: #1257a4;
}

.custom-btn:hover {
  background-color: #ef7f1b;
}

#advantages .advantage-img {
  text-align: center;
}
#advantages .advantage-img svg {
  height: 5vh;
  fill: #1257a4;
}

#advantages {
  color: #1257a4;
}

footer {
  background-color: #1257a4;
}

.logo-footer {
  background-color: white;
  text-align: center;
}

.logo-footer img {
  height: 10vh;
}

#hero-features li {
  list-style-type: none;
  float: left;
}

#features, #management-system, #components ul li {
  
  padding: 10px;
  font-size: 1.3rem;
}

.square-li {
  list-style-type: square;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-fymr {
  border-color: inherit;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}
